[Unit]
Description=NodeJS client for Tilt Hydrometer
Documentation=https://github.com/AlbertEmil/tiltCsv
AssertPathExists=/home/pi/tilt/

[Service]
WorkingDirectory=/home/pi/tilt/
ExecStart=/usr/bin/node /home/pi/tilt/tilt.js
Restart=always
RestartSec=5
StartLimitBurst=3
StartLimitInterval=20
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=tilt-client
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
